/*Import styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

/*Variables*/


/*Reset*/

* {
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}


/*Fonts*/



/*Base Styles*/
.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: center;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10vw;
}

#winner {
    font-size: 1.5em;
    padding: 1em;
    transition: all 200ms ease-in-out;
}

.winner-selected {
    font-size: 2em;
    background-color: rgb(185, 234, 253);
    border-radius: 8px;
}

#select-container {
    justify-content: center;
}

#player-results, #computer-results {
    padding: 0.5em;
}

.score-underline {
    text-decoration: underline;
    text-decoration-color: rgb(185, 234, 253);
}

.button {
    border-style: none;
    padding: 3em;
    cursor: pointer;
    transition: all 150ms ease-out;
    background-color: rgb(238, 248, 255);
    box-shadow: 2px 2px 4px rgb(179, 179, 179);
    border-radius: 16px;
    margin: 0 5vw;
}

.button:hover {  
    background-color: rgb(187, 219, 235)
}

#reset-button {
    padding: 2em 3em;
    width: 50%;
    background-color: rgb(223, 35, 35);
    color: white;
}

.fa-solid {
    font-size: 2em;
}